#blog-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;  
    padding: 2rem;
    overflow-x:hidden;
    gap: 2.5%;
}

#blog-container div {
    display: flex;
    flex-direction: column;
    background-color: grey;
    outline: 2px solid var(orange);
    padding: 3rem;
    outline: 2px solid var(--cyber-green);
    margin: 40px;
    padding: 4rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#blog-container div h1{
    background-color: grey;
    padding: 1rem;
    outline: 2px solid var(--cyber-green);
    margin: 10px;
    padding: 2rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

#blog-container div h2{
    background-color: grey;
    padding: 1rem;
    outline: 2px solid var(--cyber-green);
    margin: 10px;
    padding: 2rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

#blog-container div p{
    background-color: grey;
    padding: 1rem;
    outline: 2px solid var(--cyber-green);
    margin: 10px;
    padding: 4rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    header {
      width: 100%;
    }

    #blog-container {
        width:100%;
    }

}